@font-face {
    src: url('font/Merriweather/Merriweather-Regular.ttf'),
    url('Font/Merriweather/Merriweather-Italic.ttf'),
    url('Font/Merriweather/Merriweather-Bold.ttf');  
    font-family: 'Merriweather';
}

body {
    background-color: rgb(202, 247, 255);
    font-family: 'Merriweather';
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.stands {
    font-style: italic;
}

.bolds {
    font-weight: bold;
}

caption {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}

table, td, th {
    border: 2px solid black;
    text-align: center;
}

.tagtable {
    width: auto;
    font-weight: bold;
}

.nametable {
    width: 150px;
}

.descriptiontable {
    width: 500px;
}

tr:nth-child(even) {
    background-color: rgb(96, 228, 252);
}

tr:nth-child(odd) {
    background-color: rgb(0, 217, 255);
}

th {
    background-color: rgb(0, 81, 95);
    color: white;
    height: 30px;
}

.center {
    color: rgb(0, 81, 95);
    font-size: 30px;
}